.header {
  z-index: 100;
}

.search {
  position: relative;
  margin-right: 60px;
}
#search {
  // width: 280px;
  height: 25px;
  margin-top: 22px;
  border-radius: 18px;
}

.before::before { 
  content: "|";
  color: white;
  margin-right: 25px;
}

.logo {
  position: relative;
  border-radius: 7px, solid;
  background-color: #c10a27;
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  // width: 50px;
  height: 42px;
  margin-right: 233px;
  top: -13px;
}

.slogan{
  position: relative;
  color: #08eec0;
  top: -41px;
  font-size: 12px;
}

.fa, fa-cart-arrow-down, fa-1x {
  color: white;

}

// @import "compass/css3";

.navigation {
  list-style: none;
  margin: 0;
  height: 63px;
  background: #c10a27;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  // -webkit-flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(#c10a27, 2%);
}

@media (min-width: 1000px){
  .container {
      max-width: 1000px;
  }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}