
<section>
  <div class="user">
      <h1>Se connecter</h1>
      <form>
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email " onchange="check();">
          <input type="password" id="password" name="password" placeholder="Mot de passe" onchange="check();">
          <div id="warning"></div>
          <button onclick="return check();">Connexion</button>
        </fieldset>
        <p>En cliquant sur le bouton S'inscrire, vous acceptez notre <a href="#">Terme &amp; Conditions</a>, & <a href="#">Politique de confidentialité</a>.</p>
      </form>
  </div>
</section>
 