<div [ngClass]="'container product'">
    <div [ngClass]="'row productBox'" *ngFor="let produit of panier; index as i">
      <div class="col-sm">
        <div>
          <h4>
            <a [routerLink] = "['/panier', produit.id]">{{produit.name}}</a>
          </h4>
          <img class="img" src="../assets/{{produit.images}}" alt="images des produits">                        
          <h5>Prix:{{produit.prix}}</h5>
          <p>{{produit.description}}</p>
          <p>{{produit.marque}}</p> 
        </div>
        <div>
          <button class="cursor" type="button" (click)="deleteProduitInPanier(i)">supprimer</button>
        </div>       
      </div>
    </div>
  </div>

