<div [ngClass]="'product'">
  <div [ngClass]="'productBox'" *ngFor="let produit of produits ">
    <div class="container">
      <div>
        <h4>
          <a [routerLink] = "['/produit-list', produit.id]">{{produit.name}}</a>
        </h4>
        <img class="img" src="../assets/{{produit.images}}" alt="images des produits">              
        
        <h5>Prix:{{produit.prix}}</h5>
        <p>{{produit.description}}</p>
        <p>{{produit.category}}</p>
        <p>{{produit.marque}}</p> 
      </div>
      <div>
        <button type="button" (click)="addProduitInPanier(produit.id)">Ajouter au panier</button>
      </div>
    </div>
  </div>
</div>